.data-button.svelte-o58pyj{padding:8px 14px;width:max-content;text-align:start}.data-button.svelte-o58pyj svg{stroke-width:1.8px;height:21px;width:21px}.data-button.danger.svelte-o58pyj{background-color:var(--red);color:var(--white)}.data-button.danger.svelte-o58pyj:hover{background-color:var(--dark-red)}.button-row.svelte-ism1gp{display:flex;gap:var(--padding);flex-wrap:wrap}


